<%= form_for(@mechanic) do |f| %>
  <% if @mechanic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mechanic.errors.count, "error") %> prohibited this mechanic from being saved:</h2>

      <ul>
      <% @mechanic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.number_field :experience %>
  </div>
  <div class="field">
    <%= f.label :name, "Skills" %><br>
    <%= f.collection_select :skills, @skills, :id, :name, :prompt => "Select a skill" %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
