<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, "Available cars" %><br>
    <%= f.select "car_id", options_from_collection_for_select(Car.all, "id", "number"), prompt: "Select something" %>
  </div>
  <div class="field">
    <%= f.label :hour %><br>
    <%= f.datetime_select :hour %>
  </div>
  <div class="field">
    <%= f.label :workplace_id %><br>
    <%= f.select "workplace_id", options_from_collection_for_select(Workplace.all, "id", "number"), prompt: "Select something" %>
  </div>
  <div class="field" >
    <%= f.label :name, "Service" %><br>
    <div id="selectService">
    <%= select_tag :"appointment[services][]", options_from_collection_for_select(Service.all, "id", "name"), :selected => Service.first %>
    </div>
    <div id="newfield"></div>
  </div>
  <a id="add" class="btn btn-small btn-primary" href="javascript:addNew();">Add another service</a>
  </br>
  </br>
  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


