<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= f.label :name, "Available cars" %><br>
  <%= select("Cars", "name", options_for_select(Car.all.map{ |p| [p.number, p.id] }), {:prompt => 'Select a car...'}) %>
  </div>
  <div class="field">
    <%= f.label :hour %><br>
    <%= f.time_select :hour %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :workplace_id %><br>
    <%= select("Workplaces", "name", options_for_select(Workplace.all.map{ |p| [p.number, p.id] }), {:prompt => 'Select a workplace...'}) %>
  </div>
  <div class="field">
    <%= f.label :name, "Service" %><br>
    <%= select("Service", "name", options_for_select(Service.all.map{ |p| [p.name, p.id] }), {:prompt => 'Select a service...'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
