<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @appointment.car_id %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @appointment.hour %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Workplace:</strong>
  <%= @appointment.workplace_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
