<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @appointment.car_id %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @appointment.hour %>
</p>

<p>
<<<<<<< HEAD
  <strong>Workplace:</strong>
  <%= @appointment.workplace_id %>
</p>

<p>
  <strong>Service:</strong>
  <% @appointment.services.each do |service| %>
  	<%= service.name %>
  <% end %>

</p>


=======
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Workplace:</strong>
  <%= @appointment.workplace_id %>
</p>

>>>>>>> 7af8ec578802743010d6a88815332b5e7125bd57
<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
