<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @car.number %>
</p>

<p>
  <strong>Client:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>
